{% extends "wide_content.html" %}
{% load util %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Choose cost centre" "choose_cost_centre" %}
{% endblock %}

{% block title %}Edit Forecast - Choose Cost Centre{% endblock %}

{% block content %}
    <h3 class="govuk-heading-l">My cost centres</h3>
    <div id="cost-centre-list-app"></div>
{% endblock %}
{% block scripts %}
    {% render_front_end_script %}
    <script>
        window.costCentres = {{ view.get_user_cost_centres|safe }};
    </script>
{% endblock %}
