{% extends "wide_content.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Choose cost centre" "choose_cost_centre" %}
{% endblock %}

{% block content %}
    <h3 class="govuk-heading-l">My cost centres</h3>
    <form method="post" action ="">
        {% csrf_token %}
        {% include "core/govt_uk_form.html" %}
        <input type="submit" value="Choose cost centre" class="govuk-button" data-module="govuk-button"/>
    </form>
{% endblock %}



