{% extends "wide_content.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Choose cost centre" "choose_cost_centre" %}
    {% breadcrumb "Editing unavailable" "edit_unavailable" %}
{% endblock %}

{% block title %}Edit Forecast - Editing Is Locked{% endblock %}
{% block content %}
    <h3 class="govuk-heading-l">Forecast editing is locked</h3>
    <p class="govuk-body">Editing is unavailable until month end processing has been completed.</p>
{% endblock %}