{% extends "forecast/forecast_base.html" %}

{% load render_bundle from webpack_loader %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Forecast" "edit_forecast" %}
{% endblock %}

{% block page_content %}
    <h3 class="govuk-heading-m">Forecast workbook</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p>AREA FOR DATE/PERIOD SELECTION</p>
                </div>
                <div class="govuk-grid-column-one-third">
                    <a href="{% url 'add_forecast_row' view.cost_centre_details.cost_centre_code %}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Add a new row
                    </a>
                </div>
                <div class="govuk-grid-column-one-third">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Download
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="root"></div>
    <form id="id_paste_data_form" action="{% url 'paste_forecast' view.cost_centre_details.cost_centre_code  %}" method="post" novalidate="novalidate">
        {% csrf_token %}
        {{ paste_form }}
    </form>
{% endblock %}
{% block scripts %}
    {% render_bundle 'vendors' %}
    {% render_bundle 'main' %}
    {% render_bundle 'runtime~main' %}
    <script>
        window.table_data = {{ forecast_dump|safe }};
        window.cost_centre = {{ view.cost_centre_details.cost_centre_code|safe }};
    </script>
{% endblock %}