{% extends "wide_content.html" %}

{% block content %}
<div class="app-pane__content">
    <h1 class="govuk-heading-l">Edit forecast</h1>
    <a href="{% url 'forecast_cost_centre' view.cost_centre_details.cost_centre_code 0 %}" target="_blank" class="govuk-heading-m cost-centre-heading-link">{{ view.cost_centre_details.cost_centre_name }} ({{ view.cost_centre_details.cost_centre_code }}) </a>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Group
            </dt>
            <a href="{% url 'forecast_group' view.cost_centre_details.group_code 0 %}" target="_blank" class="govuk-summary-list__value group-link">{{ view.cost_centre_details.group }} ({{ view.cost_centre_details.group_code }}) </a>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Directorate
            </dt>
            <a href="{% url 'forecast_directorate' view.cost_centre_details.directorate_code 0 %}" target="_blank" class="govuk-summary-list__value directorate-link">
                {{ view.cost_centre_details.directorate }}
                ({{ view.cost_centre_details.directorate_code }})
            </a>
        </div>
    </dl>
    {% block page_content %}
    {% endblock %}
</div>
{% endblock %}