{% extends 'admin/change_list.html' %}

{% block content_title %}
    <h1> Download for other Applications</h1>
{% endblock %}


  {% block search %}

        <a href="export-oscar/" class="btn btn-high btn-success">Oscar return</a>
        <br>
        <a href="export_travel_cc/" class="btn btn-high btn-success">Export Cost Centre for Trainline</a>
        <br>
        <a href="export-cc/" class="btn btn-high btn-success">Export Cost Centre Hierarchy</a>
        <br>
      <a href="export-nac/" class="btn btn-high btn-success">Export NAC Hierarchy</a>
        <br>
  {% endblock %}