{% extends "forecast/view/programme_details/programme_details_base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb view.directorate.group.group_name "forecast_group" view.directorate.group_id view.period %}
    {% breadcrumb view.directorate.directorate_name "forecast_directorate" view.directorate.directorate_code view.period %}
    {% breadcrumb view.programme_code.programme_description "programme_details_directorate"  view.period %}
{% endblock %}

{% block title %}Programme Details - Directorate - {{ view.directorate.directorate_code }}{% endblock %}

{% block view_hierarchy_title %}
    <h1 class="govuk-heading-l">{{ view.directorate.directorate_name }} - {{ view.directorate.directorate_code }} </h1>
{% endblock %}

{% block download_link %}
    <a class="govuk-button govuk-button" href="{% url 'export_programme_details_directorate' view.directorate.directorate_code view.programme_code.programme_code  view.forecast_expenditure_type  view.period %} ">Download raw data</a>
{% endblock %}
