{% extends "wide_content.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "DIT forecast/historical otturn" "forecast_dit" view.period %}
{% endblock %}

{% block content %}
    {% block view_hierarchy_title %}{% endblock %}
    <div class="action-bar-wrapper">
        <div class="action-bar">
            {% block download_link %}{% endblock %}
            {% include "forecast/view/sub_section_form.html"  with form=view.period_form %}
            {% include "forecast/view/sub_section_form.html" with form=view.programme_code_form %}
        </div>
    </div>
    <h3 class="govuk-heading-m">{{ view.programme_code.programme_description }} - {{ view.programme_code.programme_code }}</h3>
        {% for table in tables %}
            <div class="tables-container">
                {% render_table table %}
            </div>
        {% endfor %}

{% endblock %}
