{% extends "base_generic.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block scripts %}
<script type="text/javascript" language="JavaScript">


{#Show/hide the company text input, according to the value selected in the company dropdown.#}
{#When other is selected, show the field.constructor. Copy the value selected #}
{#when the company field is hidden, to avoid problems with the 'required' attribute.#}
$("#id_company_fk").change(function(){
    var txt = $(this).find("option:selected").text();
    if ( txt == "Other")
    {
        jQuery('#id_company').show();
        $('label[for=id_company]').show();
        $("#id_company").val("");
    }
    else {
        jQuery('#id_company').hide();
        $('label[for=id_company]').hide();
        $("#id_company").val(txt);
    }
    });

var gift_type_list = {{ gift_type | safe }}


function isgift(value) {
  for (i=0; i<gift_type_list.length; i++) {
            if (gift_type_list[i][0] == value) {
                console.log("Found")
                if (gift_type_list[i][1] == "Gift")
                    return (true)
                else
                    return (false)
            }
  }
  return (false)
}

$("#id_classification_fk").change(function(){
    if(isgift($(this).val())){
        {#show the options specific for gift received#}
        $("#id_action_taken").children('[value="Action2"]').show();
        $("#id_action_taken").children('[value="Action3"]').show();
    }
    else {
        {#Hide the options specific for gift received#}
        $("#id_action_taken").children('[value="Action2"]').hide();
        $("#id_action_taken").children('[value="Action3"]').hide();
        if ($("#id_action_taken").val() == "Action2" ||
            $("#id_action_taken").val() == "Action3") {
            $("#id_action_taken").value = ""
        }
    }
});


$(document).ready(function(){
    jQuery('#id_company').hide();
    $('label[for=id_company]').hide();

    {#Hide the options specific for gift received#}
    $("#id_action_taken").children('[value="Action2"]').hide();
    $("#id_action_taken").children('[value="Action3"]').hide();
});




</script>
{% endblock %}

{% block content %}
    <h1>Gift and Hospitality</h1>
    <h3>{{ section_name }}</h3>

  <div class="container">
    <div class="col-md-12">

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {{ form.media }}            {# Adds date-picker required JS and CSS #}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Save</button>
    {% endbuttons %}

{#    <input type="submit" value="Submit">#}
</form>
    </div>
  </div>
{% endblock %}
