{% extends "base_generic.html" %}

{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block content %}
    <h3>{{ section_name }}</h3>
    <p>{{ section_description }}</p>
    {% if filter %}

        {% csrf_token %}
                <form action="" method="get" class="form form-inline">
        <table>
               {{ filter.form.media }}            {# Adds date-picker required JS and CSS #}
            {{ filter.form.as_table }}
               </table>
                      <td><button type="submit">Search</button></td>

        </form>

    {% endif %}
    <br>
    <h5>Record returned: {{ table.rows|length }}</h5>


    <p></p>
    <a href="{% querystring '_export'='xlsx' %}">Download to Excel</a>

    {% render_table table %}
{% endblock %}