{% extends "standard_content.html" %}

{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block content %}
    <h1 class="govuk-heading-l">{{ section_name }}</h1>
    <p>{{ section_description }}</p>
    {% if filter %}
        <div id="search-div">
        {% csrf_token %}
            <form action="" method="get" class="form-group">
            <table>
               {{ filter.form.media }}            {# Adds date-picker required JS and CSS #}
            {{ filter.form.as_table }}

                <tr><td></td><td><button type="submit">Search</button></td></tr>
                     </table>
        </form>
        </div>
    {% endif %}
    <br>
    <h5>Record returned: {{ table.rows|length }}</h5>


    <p></p>
    <a href="{% querystring '_export'='xlsx' %}">Download to Excel</a>

    {% render_table table %}
{% endblock %}