{% extends "standard_content.html" %}

{% block content %}
    <h1 class="govuk-heading-l">Gifts &amp; Hospitality Register</h1>
    <p class="govuk-body">If you have any queries about the Register, please email:
        <a href="mailto:financialgovernance@trade.gov.uk">financialgovernance@trade.gov.uk</a>.
    </p>
    <p class="govuk-body">If you need to report any bugs or technical problems, please email:
        <a href="mailto:fft@uktrade.zendesk.com">fft@uktrade.zendesk.com</a>.
    </p>

    {% include "core/quick_links.html" with quick_links=quick_links %}
{% endblock %}
