{% extends "wide_content.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Chart of account period" "chart_of_account_choose_year" %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Chart of account</h1>

    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-!-font-size-16">
          {% for year in chart_of_account_years %}
                <li>
                  <a class="govuk-link" href="{% url 'chart_of_account_quick_links' year=year.year %}">
                    {{year.display}}  Chart of Account
                  </a>
                </li>
            {%  endfor  %}
      </ul>
    </nav>
{% endblock %}
