{% extends "forecast/view/expenditure_details/expenditure_details_base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb view.expenditure_category.grouping_description "expenditure_details_cost_centre"  view.period %}
{% endblock %}

{% block title %}Expenditure Details - DIT {% endblock %}

{% block view_hierarchy_title %}
    <h1 class="govuk-heading-l">DIT</h1>
{% endblock %}

{% block download_link %}
    <a class="govuk-button govuk-button" href="{% url 'export_expenditure_details_dit' view.expenditure_category.id  view.budget_type  view.period %} ">Download raw data</a>
{% endblock %}