{% extends "forecast/view/expenditure_details/expenditure_details_base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb view.group_name "forecast_group" view.group_code view.period %}
    {% breadcrumb view.expenditure_category.grouping_description "expenditure_details_group"  view.period %}
{% endblock %}

{% block title %}Expenditure Details - Group - {{ view.group.group_code }}{% endblock %}

{% block view_hierarchy_title %}
    <h1 class="govuk-heading-l">{{ view.group_name }} - {{ view.group_code }}</h1>
{% endblock %}

{% block download_link %}
    <a class="govuk-button govuk-button" href="{% url 'export_expenditure_details_group' view.group_code view.expenditure_category.id  view.budget_type  view.period %} ">Download raw data</a>
{% endblock %}