{% extends "base_generic.html" %}

{% block content %}
    <h2>Group List</h2>
<p>request.path = {{ request.path }}</p>
<p>url 'directorates' = {% url 'directorates' %}</p>
    <table>
    {% if departmentalgroup_list %}

       <tr>
            <th>Group</th>
            <th>Description</th>
       </tr>

      {% for group in departmentalgroup_list %}
       <tr>
           <td><a href="{% url 'directorates' %}{{group.group_code}}">{{group.group_code}}</a></td>
            <td>{{group.group_name}}</td>
       </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>There are no Groups defined.</p>
    {% endif %}
{% endblock %}