{% extends "base_generic.html" %}

{% block content %}
    <h2>Directorate List</h2>

    <p> request.path  = {{ request.path }}</p>
    <p> request.get_full_path  = {{ request.get_full_path }}</p>
    <p> request.build_absolute_uri  =  {{ request.build_absolute_uri }}   </p>
    <p> template_name  =  {{ template_name }}   </p>
    <p> group  =  {{ group }}   </p>


    <table>
    {% if directorate_list %}

       <tr>
           <th colspan="2">Department</th>
           <th colspan="2">Directorate</th>
        </tr>

      {% for directorate in directorate_list %}
       <tr>
            <td>{{directorate.group.group_code}}&nbsp-&nbsp</td>
            <td>{{directorate.group.group_name}}</td>
            <td>{{directorate.directorate_code}}&nbsp-&nbsp </td>
            <td>{{directorate.directorate_name}}</td>
       </tr>
      {% endfor %}

    </table>
    {% else %}
      <p>There are no Directorate defined.</p>
    {% endif %}       
{% endblock %}