{% extends "wide_content.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "DIT forecast" "forecast_dit" %}
    {% breadcrumb view.cost_centre.directorate.group.group_name "forecast_group" view.cost_centre.directorate.group_id %}
    {% breadcrumb view.cost_centre.directorate.directorate_name "forecast_directorate" view.cost_centre.directorate.directorate_code %}
    {% breadcrumb view.cost_centre.cost_centre_name "forecast_cost_centre" view.cost_centre.cost_centre_code %}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ view.cost_centre.cost_centre_name }} - {{ view.cost_centre.cost_centre_code }}</h1>
          <a class="govuk-button govuk-button--secondary" href="{% url 'export_forecast_data_cost_centre' view.cost_centre.cost_centre_code %}">Download</a>

      </div>

      <div class="govuk-grid-column-one-third directorate-cc-form">
        <form method="post" action ="">
            {% csrf_token %}
            {% include "core/govt_uk_form.html" with form=view.cost_centres_form %}
            <input type="submit" value="Change" class="govuk-button" data-module="govuk-button"/>
        </form>
      </div>
    </div>

    {% for table in tables %}
        <div class="tables-container">
            {% render_table table %}
        </div>
    {% endfor %}

{% endblock %}

{% block scripts %}
<script type="application/javascript">
    let allCC = document.getElementById("all-cc");
    let myCC = document.getElementById("my-cc");

    if (allCC && myCC) {
        myCC.style.display = "none";
        document.getElementById("id_mode_0").checked = true;

        function swapCostCentreChoice(input) {
            if (input.id === "id_mode_0") {
                allCC.style.display = "block";
                myCC.style.display = "none";
            } else {
                allCC.style.display = "none";
                myCC.style.display = "block";
            }
        }
    }
</script>
{% endblock %}