{% extends "wide_content.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "DIT" "forecast_dit" %}
    {% breadcrumb view.directorate.group.group_name "forecast_group" view.directorate.group_id %}
    {% breadcrumb view.directorate.directorate_name "forecast_directorate" view.directorate.directorate_code %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">{{ view.directorate.directorate_name }} - {{ view.directorate.directorate_code }}</h1>
    <div class="action-bar-wrapper">
        <div class="action-bar">
            <a class="govuk-button govuk-button" href="{% url 'export_forecast_data_directorate' view.directorate.directorate_code %} ">Download raw data</a>
        </div>
    </div>

    {% for table in tables %}
        <div class="tables-container forecast-table-{{ forloop.counter }}">
            {% render_table table %}
        </div>
    {% endfor %}
{% endblock %}