{% extends "forecast/view/hierarchy_base.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb view.group.group_name "" %}
{% endblock %}

{% block title %}Group - {{ view.group_name }}{% endblock %}

{% block hierarchy_title %}
   {{ view.group_name }} - {{ view.group_code }}
{% endblock %}

{% block download_link %}
    <a class="govuk-button govuk-button" href="{% url 'export_forecast_data_group' view.group_code view.period %} ">Download raw data</a>
{% endblock %}
