<form method="post" action="" class="cost-centre-choice-form">
    {% csrf_token %}
    {% for field in form  %}
        <label class="govuk-label" for="{{ field.name }}">
            {{ field.label }}{% if field.field.required == False %} (optional){% endif %}
        </label>
        {% if field.errors %}
            {% for error in field.errors %}
                <span id="{{ field.name }}-issued-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ error|escape }}
                </span>
            {% endfor %}
        {% endif %}
        {{ field }}
    {% endfor %}
    <input type="submit" value="Change" class="govuk-button govuk-button--secondary" data-module="govuk-button"/>
</form>