{% extends "base_generic.html" %}

{% block content %}
    <br>
    <br>
    <h1>Welcome to <fido>FIDO</fido></h1>
    <h2>(<strong>F</strong>inancial <strong>I</strong>nformation
        <strong>D</strong>elivered <strong>O</strong>nline)</h2>
    <br>
    <p>This is an in-house bespoke web application supporting business critical processes in
        Finance. This will replace the 'Admin Tool' once all functionalities have transferred over.
    </p>
    <p>This tool has been created to;</p>
<ul>
<li>assist you in managing your financial resources, and</li>
<li>streamline current manual processes.</li>
</ul>

<p>If you require access or need to report issues, please email

    <a href="mailto:FIDO@trade.gov.uk"> FIDO@trade.gov.uk</a>
    </p>

<br>

<h5>Watch this space</h5>

    <p>Development in the pipeline:</p>


Phase 1: Host our full chart of accounts (completed)
<br>
Phase 2: Host the gifts & hospitality register (Dec 18)
<br>
Phase 3: Host the new forecasting tool (TBC)
<br>
Phase 4: Projects portfolio (TBC)


{% endblock %}
