{% extends "standard_content.html" %}

{% block content %}
    {% block top %}
        {{ block.super }}
    {% endblock %}
    <h1 class="govuk-heading-xl">Financial Forecast Tool</h1>
    <p class="govuk-body">The Financial Forecast Tool replaces the admin consolidation and analysis tool ("Admin Tool"),
        currently used for the financial management of resources and staff forecasts.
    </p>
    <p class="govuk-body">This is an in-house bespoke web application supporting business critical processes within
        the DIT.</p>
    <p class="govuk-body">The Financial Forecast Tool supports three functions:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">Viewing the <a class="govuk-link" href="{% url 'chart_of_account_choose_year' %}">DIT chart of account</a></li>
        <li class="govuk-body">Registering gifts and hospitality (disabled for now)</li>
        <li class="govuk-body">Managing financial forecasts: assists you in managing your financial resources</li>
    </ul>
    <p class="govuk-body">If you require access to this system, please email:
        <a href="mailto:fft@trade.gov.uk">fft@trade.gov.uk</a>
    </p>
    <p class="govuk-body">If you have issues relating to the figures displayed or don’t understand what to do, please contact your
        Finance Business Partner and/or the Business Support Centre of Excellence (the chart of account cost centre hierarchy
        has a list of contacts per area).
    </p>
    <p class="govuk-body">If you need to report any bugs or technical problems, please email:
        <a href="mailto:fft@uktrade.zendesk.com">fft@uktrade.zendesk.com</a>.
    </p>
    {% block bottom %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
