{% extends "standard_content.html" %}

{% block content %}
    {% block top %}
        {{ block.super }}
    {% endblock %}
    <h1 class="govuk-heading-xl">Financial Forecast Tool</h1>
    <p class="govuk-body">This is an in-house bespoke web application supporting business critical processes within
        the DIT.</p>
    <p class="govuk-body">The Financial Forecast Tool supports three functions:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Viewing the <a class="govuk-link" href="{% url 'chart_of_account_choose_year' %}">DIT chart of account</a></li>
        <li>Registering gifts and hospitality (disabled for now)</li>
        <li>Managing financial forecasts</li>
    </ul>
    <h2 class="govuk-heading-l">Managing financial forecasts</h2>
    <p class="govuk-body">The Financial Forecast Tool forecast function replaces the admin consolidation and analysis tool ("Admin Tool"),
        currently used for the financial management of
        administrative resources and staff forecasts.
    </p>
    <p class="govuk-body">The Financial Forecast Tool forecast function has been created to;</p>
    <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-body">assist you in managing your financial resources, and</li>
        <li class="govuk-body">streamline current manual processes.</li>
    </ul>
    <p class="govuk-body">If you require access or need to report issues, please email
        <a href="mailto:fft@trade.gov.uk">fft@trade.gov.uk</a>
    </p>
    {% block bottom %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
