
{% extends "wide_content.html" %}

{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Forecast" "edit_forecast" %}
{% endblock %}

{% block content %}
    <h3 class="govuk-heading-m">Forecast workbook</h3>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    <p>AREA FOR DATA SELECTION</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tables-container">
        {% render_table view.table %}
    </div>
{% endblock %}