<!doctype html>
<html lang="en">

<head>

    {% block title %}<title>FIDO</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
          crossorigin="anonymous">


    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">

</head>

<body class="small-font">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>



<div class="container-fluid">

    <!--<style="background-color: #9E0B3F;"       >-->

    <div class="row">


        <div class="col-1">
            <img src="{% static "core/images/logo_small.png" %}" alt="DIT Logo">
             <br>

            <img src="{% static "core/images/logofidosmall.png" %}" alt="A dog with a calculator">
            <br>



            <nav class="nav flex-column navbar-fixed-top " id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <li class="nav-item">
                <a class="nav-item nav-link active" href="{% url 'index' %}">
                    Home
                </a>
                </li>
                <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                    Chart of Account
                </a>

                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'costcentrefilter' %}">Cost Centre
                        Hierarchy</a>
                    <a class="dropdown-item" href="{% url 'programmefilter' %}">Programme Codes</a>
                    <a class="dropdown-item" href="{% url 'naturalcode' %}">Natural Account
                        Codes</a>
                    <a class="dropdown-item" href="{% url 'financecategory' %}">Budget
                        Categories</a>
                    <a class="dropdown-item" href="{% url 'commercialcategory' %}">Commercial
                        Categories</a>
                    <a class="dropdown-item" href="{% url 'analysis1' %}">Contract Reconciliation
                        (Analysis 1)</a>
                    <a class="dropdown-item" href="{% url 'analysis2' %}">Markets (Analysis 2)</a>
                    <a class="dropdown-item" href="{% url 'projectfilter' %}">Projects (Spare 1)</a>
                    <a class="dropdown-item" href="{% url 'interentityfilter' %}">Entity-Inter Entity</a>
                </div>
                </li>

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                    Gifts & Hospitality Register
                </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="dropdown1">
                    <a class="dropdown-item" href="{% url 'gifthospitality:gift-received' %}">Add Gift/Hosp Received</a>
                    <a class="dropdown-item" href="{% url 'gifthospitality:gift-offered' %}">Add Gift/Hosp Offered</a>
                    <a class="dropdown-item" href="{% url 'gifthospitality:gift-search' %}">Search Records</a>
                </div>
                </li>
            </nav>
        </div>
        <div class="col-11">
            {% block content %}{% endblock %}
        </div>
{% block scripts %} {% endblock %}
{#        <div class="col-1">#}
{#            <img src="{% static "core/images/logo.png" %}" alt="DIT Logo">#}
{#        </div>#}


    </div>


</div>

</body>

</html>

