$govuk-page-width: 1800px;
@import "/app/node_modules/govuk-frontend/govuk/all";

.actual-month {
  background-color: $govuk-secondary-text-colour;
  color: white;
}

.main-content {
  margin-top: 20px;
}

.govuk-table__cell {
  white-space: nowrap;
  padding-left:4px;
}

.govuk-table__header {
  white-space: nowrap;
}

.tables-container {
  overflow-x: scroll;
}

input {
    @include govuk-font($size: 19);
}

.highlight {
  background-color: $govuk-focus-colour;
  border: 2px solid $govuk-text-colour;
}

input.cell-input {
    padding:0px;
    outline: 2px solid #FF0000 !important;
    outline: 5px auto #FF0000 !important;
    width:100%;
}

.indicate-action {
  text-decoration: underline!important;
}

.sub-total {
  background-color: $govuk-brand-colour;
  color: $govuk-body-background-colour;
  .actual-month {
    background-color: #00ad93 !important;
  }
}
