$govuk-page-width: 1800px;
@import "./node_modules/govuk-frontend/govuk/all";

.actual-month {
  background-color: rgba(177, 180, 182, 0.5);
}

.main-content {
  margin-top: 20px;
}

.govuk-table__cell {
  white-space: nowrap;
}

.govuk-table__header {
  white-space: nowrap;
}

.govuk-error-summary__list li {
  color: #d4351c;
  font-weight: 700;
}


input {
    @include govuk-font($size: 19);
}

.highlight {
  background-color: $govuk-focus-colour;
  border: 2px solid $govuk-text-colour;
}

input.cell-input {
    padding:0px;
    outline: 2px solid #FF0000 !important;
    outline: 5px auto #FF0000 !important;
    width:100px;
    text-align: right;
}

.indicate-action {
  text-decoration: underline!important;
}

.sub-total {
  background-color: rgba(86, 148, 202, 0.75);
  color: $govuk-body-background-colour;
  .actual-month {
    background-color: rgba(86, 148, 202, 1) !important;
  }
}

.govuk-error-summary {
  margin-bottom: 20px;
}
.directorate-cc-form {
  label {
    display: none;
  }

  .govuk-form-group {
    float: left;
  }

  select, input {
    display: inline;
  }

  input {
    margin-left: 10px;
  }
}

.negative {
  color: red;
}

.forecast-month {
  padding-left:8px!important;
  text-align: right;
  display: block;
}

.forecast-month-cell {
  padding-left:8px!important;
  text-align: right!important;
}

table, td, th {
  white-space: nowrap;
}

td {
  text-align: right;
}

.not-editable {
  background-color: govuk-colour("light-grey");
}


.no-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.selection {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid ForestGreen;
  display: block;
  pointer-events: none;
}

.selected {
  background-color: govuk-colour("yellow");
}

.selected.edited {
  background-color: green;
}

.selected.not-editable {
  background-color: govuk-colour("dark-grey");
  color:white;
}

.selected.edited {
  background-color: govuk-colour("blue");
  color: white;
}

.hidden {
  display: none;
}

.edit-control {
  position: absolute;
}

.edited {
  background-color: rgba(86, 148, 202, 0.25);
}

.toggle-links {
  width:900px;
  display:flex;
  align-self:stretch;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom:20px;
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-size:19px;
  font-family: "GDS Transport", Arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .wide-table {
    display: inline-block!important;

    .govuk-header__logo {
      max-width: 508px;
    }

    .govuk-width-container {
      max-width: none!important;
      margin: 0 20px 0 50px;
    }

    .govuk-grid-column-two-thirds {
      width: 66vw;
    }

    .govuk-table {
      width:1%;
    }
  }
}

.govuk-table__caption {
  margin: 20px 0;
}

.total {
  font-weight: bold;
  padding:10px;
}

.govuk-summary-list {
  display:inline-block;
}

.date-selection-download {
  max-width: 1600px;
}
