.forecast-table-1, .forecast-table-2, .forecast-table-4 {
  .govuk-table tr td:first-child {
    min-width: 160px;
  }

  .govuk-table tr td:first-child + td {
    min-width: 240px;
  }

  .govuk-table tr td:first-child + td + td {
    min-width: 100px;
  }

  .govuk-table tr td:first-child + td + td + td {
    min-width: 120px;
  }
}

.forecast-table-3 {
  .govuk-table tr td:first-child {
    min-width: 160px;
  }

  .govuk-table tr td:first-child + td {
    min-width: 240px;
  }

  .govuk-table tr td:first-child + td + td {
    min-width: 240px;
  }
}

.cc-forecast-table {
  .govuk-table tr td:first-child {
    min-width: 140px;
  }

  .govuk-table tr td:first-child + td {
    min-width: 260px;
  }

  .govuk-table tr td:first-child + td + td {
    min-width: 200px;
  }
}

.cc-forecast-table-3 {
  .govuk-table tr td:first-child {
    min-width: 140px;
  }

  .govuk-table tr td:first-child + td {
    min-width: 480px;
  }

  .govuk-table tr td:first-child + td + td {
    min-width: 120px;
  }
}


.meta-col {
  text-align: left!important;
}

.finance-table {
  .govuk-table__cell, .govuk-table__head {
    font-size: 16px;
  }
}
