$govuk-page-width: 1800px;
@import "../../node_modules/govuk-frontend/govuk/all";

body {
  margin: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#table-data-submission label, #table-data-submission textarea  {
    display: none;
}

table, td, th {
  white-space: nowrap;
}

td {
  text-align: right;
}

.not-editable {
  background-color: govuk-colour("light-grey");
}


.no-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.selection {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid ForestGreen;
  display: block;
  pointer-events: none;
}

.selected {
  background-color: govuk-colour("yellow");
}

.selected.edited {
  background-color: green;
}

.selected.not-editable {
  background-color: govuk-colour("dark-grey");
  color:white;
}

.selected.edited {
  background-color: govuk-colour("blue");
  color: white;
}

.hidden {
  display: none;
}

.edit-control {
  position: absolute;
}

.edited {
  background-color: govuk-colour("light-blue");
  color: white;
}
